.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  margin-top: 16px;
  height: calc(100vh - 160px);
}
.bottom {
  margin-top: 5px;
  text-align: center;
}
